body {
  background-color:"#ebba75";
}
h1 {font-family: "Garamond, Serif";
  font-size: 1.5em;
  color: #734a1e;
}
b {font-family:"Garamond, Serif";
  font-size:1.25em;
  color: #734a1e;
}
#para1 {font-family: "Garamond, Serif"; 
}
