@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.topnav *{list-style-type: none;
  font-family: 'Lato', sans-serif;
  background-color: #89a353;
  padding: 10px;
  margin: 0px;
}
li {display : inline;
}
li a {padding: 5px;
  text-decoration: none;
  color: black;
}
li a:hover {background-color: #4d6914;
  color: #fef8d0;
}
.header *{padding: 20px;
  text-align: center;
  background: #76894f;
  font-size: 18px;
  margin: 0px;
}
body {background-color: #fef8d0;
  /* #fef8d0 */
  /* #e5f2e5 */
}
h1 {font-family: 'Playfair Display', serif;
  color: black;
  border-style: ridge;
  border-color: #fef8d0;
  /* display: inline; */
  padding: 8px;
  border-width: medium;
}
p {font-family:"Garamond, Serif";
  font-size:1.25em;
  color: #291d0f;
  line-height: 150%;
}
#para {font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#para1 {font-family: "Garamond, Serif"; 
}
#para2 {font-family: 'Lato', sans-serif;
  font-size: 15px;
  border-style: outset;
  border-colour: #4d6914;
}
