@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');      /* -- imported fonts from Google Fonts, https://fonts.google.com/ --*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/* --- @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap'); --- */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.topnav {list-style-type: none;     /* -- navigation bar formatting --*/
  font-family: 'Lato', sans-serif;
  background-color: #89a353;
  padding: 10px;
}

li {display : inline;
}
li a {padding: 5px;
  text-decoration: none;
  color: black;
}
li a:hover {background-color: #4d6914;    /* -- dynamic changes in nav bar --*/
  color: #fef8d0;
}
.header {padding: 20px;       /* -- formatting/styling of header --*/
  text-align: center;
  background: #76894f;
  font-size: 18px;
  /* --- width: 100%; 
  margin: 0px; 
  formatting attempts
  --- */
} 

body {background-color: #fef8d0;    /* -- main background colour of all three pages  --*/
  /* --- #fef8d0
   #e5f2e5 
  margin: 8px; 
  different colours and foramtting attempts
  --*/
}

/* -- Playfair display, Work sans and Lato fonts were all sourced and imported from google fonts, https://fonts.google.com/ --*/

h1 {font-family: 'Playfair Display', serif;     /* -- top of page heading formatting/styling --*/
  color: black;
  border-style: ridge;
  border-color: #4d6914;
  /* --- display: inline; --- */
  padding: 8px;
  border-width: medium;
}
p {font-family: 'Work Sans:', sans-serif;   /* -- main p formatting --*/
  font-size:1.25em;
  color: #291d0f;
  line-height: 150%;
}
#para {font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* ---
#para1 {font-family: 'Work Sans', sans-serif;
            font-size: 12px;
        }

#para2 {font-family: 'Lato', sans-serif;
  font-size: 18px;
  outline-style: ridge;
  outline-color: #4d6914;
  outline-width: medium;
} 

multiple attempts to create the desired style and formatting
--- */

.paragraph { float: right;                /* -- text formatting --*/
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin-right: 200px;
  margin-left: 20px;
}


/*-- .mapframe {border-style: solid;
  display: inline-block;
  border-color: #76894f;
  border-width: 8px;
} --*/

.subtitle { text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.paragraph img {                  /* -- image location and styling on home and field experience pages --*/ 
  float: left;
  margin-left: 200px;
  margin-right:20px;
  border-style: solid;
  border-radius: 25px;
  display: inline-block;
  border-color: #76894f;
  border-width: 8px;
}

h2 {float: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.gallery {
  margin: 5px;
  float: left;
  width: 200px;
  padding: 10px;
}

.gallery img { width: 100%;
  height: auto;
  padding: 5px;
  border-style: solid;
  display: inline-block;
  border-color: #76894f;
  border-width: 4px;
}

